body, body * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  width: 99vw;
  min-height: 99vh;
  background: #1c3253;
  font-family: tahoma;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body, input[type=text] {
  color: #989898;
}

#todo-table{
  position: relative;
  min-height: 30vh;
  background: #090d13;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}

#todo-table, input[type=text] {
  width: 70%;

}

#heading1 {
  position: relative;
  color: darkblue;
  border: solid 1px #d0d5ff;
  background-color: cornflowerblue;
  text-align: center;
}

#heading1 .entries {
  position: absolute;
  right: 0px;
  padding: .25rem;
}

/* form components */
#todo-table form {
  width: 100%;
}

#todo-table form:after{
  margin: 0;
  content: '';
  display: block;
  clear: both;
}

input[type=text]{
  padding: 20px;
  background:#181c22;
  border: 0;
  float: left;
  font-size: 20px;
}

button{
  padding: 20px;
  width: 30%;
  background: #23282e;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

button.submit {
  padding: 8px;
  font-size: 40px;
}

/* end form components */

ul{
  list-style-type: none;
}

li{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  font-family: arial;
  font-size: 20px;
  cursor: pointer;
  letter-spacing: 1px;
  position: relative;
}

li:hover {
  border: solid 1px cornflowerblue;
  color: lightskyblue;
  background: #181c22;
  height: 4.2rem;
}

li:hover > li span{
  width: 70%;
  text-overflow: clip;
}

button.delete {
  /*display: inline;*/
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #b22c1e;
  border: solid 1px black;
  text-shadow: 1px 1px #000, 2px 2px #000, 3px 3px #000;
}
